body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.inline{
    padding: 2em;
}
.inline span{
  display: inline;
  font-weight: bold;

}

.inline select{
  margin-left: 1em;
  width: 7em;
  display: inline;
}
.chart-btn{
  margin-left: 2em;
}
.spinnerDiv{
  text-align: center;
}
.header{
  background: #f8f9fa;
}
